body {
    background-color:#DCD9D1;
}

.page {
    background-color:#F6F1E4;
    width:1024px; 
    margin-top:30px;
    margin-bottom:30px; 
    margin-left:auto; 
    margin-right:auto; 
    padding-top:10px;
    box-shadow: 5px 5px 5px #888888;
}

.wysokoscTop {
    height: 30px;
}

.wysokoscBottom {
    height: 10px;
}

.headline {
    background-color:white;
    font-family: 'Tangerine', serif;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    text-shadow: 4px 4px 4px #aaa;
    text-indent: 32%;
    letter-spacing: 15px; 
}

.centerLeft {
    float:left;
    padding-top: 40px;
    padding-left: 100px;
}

.centerRight {
    float:right;
    padding-top: 65px;
}

.button {
    float: left;
    padding-top: 10px;
    padding-left: 210px;
}

.bAndL {
    float: bottom;
    padding-top: 365px;
    padding-bottom: 100px;
    padding-left: 525px;
    font-weight: bold;
    font-family: 'Tangerine', serif;
    font-size: 25px;
    text-shadow: 4px 4px 4px #aaa;
    letter-spacing: 5px;
}