body {
    background-color:#DCD9D1;
}

.page {
    background-color:#F6F1E4;
    width:1024px; 
    /*    height:700px;*/
    margin-top:30px;
    margin-bottom:30px; 
    margin-left:auto; 
    margin-right:auto; 
    padding-top:40px;
    box-shadow: 5px 5px 5px #888888;
}

.colLeft {
    float:left;
    width:512px; 
    height:500px;  
}

h1 {
    font-family: 'Tangerine', serif;
    font-size: 150px;
    text-shadow: 4px 4px 4px #aaa;
    text-align: center;
    margin-top: 200px;
}

.colRight {
    float:right;
    width:512px; 
    height:500px;
}

#language {
    text-align: right;
    font-size: 13px;
    padding-right:40px;
}

.wysokoscTop {
    height: 30px;

}

.wysokoscBottom {
    height: 20px;

}

.author {
/*    background-color:white;*/
    text-align: center;
    padding-top: 500px;
    padding-bottom: 100px;
}