body {
    background-color:#DCD9D1;
}

.page {
    background-color:#F6F1E4;
    width:1024px; 
    height:700px;
    margin-top:30px;
    margin-bottom:30px; 
    margin-left:auto; 
    margin-right:auto; 
    padding-top:40px;
    box-shadow: 5px 5px 5px #888888;
}

.class1 {
    background: inactivecaption;
}

.class2 {
    background: lightgreen;
}