body {
    background-color:#DCD9D1;
}

.page {
    background-color:#F6F1E4;
    width:1024px; 
    margin-top:30px;
    margin-bottom:30px; 
    margin-left:auto; 
    margin-right:auto; 
    padding-top:10px;
    padding-bottom:100px;
    box-shadow: 5px 5px 5px #888888;
}

.wysokoscTop {
    height: 30px;
}

.wysokoscBottom {
    height: 10px;
}

.headline {
    background-color:white;
    font-family: 'Tangerine', serif;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    text-shadow: 4px 4px 4px #aaa;
    text-indent: 32%;
    letter-spacing: 15px;  
}

.centerTopD {
    float: top;
    padding-top: 30px;
    text-align: center;
    letter-spacing: 10px;
}

.centerLeft {
    float:left;
    padding-left: 100px;
    padding-bottom: 10px;
}

.button {
    float: left;
    padding-left: 160px;
    padding-bottom: 20px;
}

.class1 {
    background: inactivecaption;
}

.class2 {
    background: lightgreen;
}

.centerRight {
    float:right;
    padding-top: 30px;
    padding-bottom: 50px;
}

.table{
    float: bottom;
    padding-top: 200px;
    padding-left: 100px;
    padding-right: 40px;
}

.column1 {
    width: 50px;
}

.column2 {
    width: 100px;
}

.column3 {
    width: 300px;
}